@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat  top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;

}
section#telefone{
    position: absolute;

    background: url('../imagens/frame-iphone1.png') no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 160px;
    height: 323px;
}
iframe#tela{
    position: relative;
    top:42px;
    left: 11px;
    width: 137px;
    height: 243px;
}
section#sociais{
    text-align: right;
    padding-right: 25px;
    padding-top: 45px;
}
section#sociais  img{
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0.5px black;
    
    
}
section#sociais img:hover{
    border: 2px solid #f5deb36e;
    transform: translate(-2px, -2px);
    box-shadow: 1px 1px 10px 0.5px #00000070;
    transition:  transform 1s border 0.5s;
    

}